/* Dark mode colors. */
:root {
	--sl-color-accent-low: #000000;
	--sl-color-accent: #007aff;
	--sl-color-accent-high: #d6d6d6;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #636366;
	--sl-color-gray-2: #8e8e93;
	--sl-color-gray-3: #aeaeb2;
	--sl-color-gray-4: #d1d1d6;
	--sl-color-gray-5: #e5e5ea;
	--sl-color-gray-6: #000000;
	--sl-color-black: #000000;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #e5f0ff;
	--sl-color-accent: #007aff;
	--sl-color-accent-high: #0040dd;
	--sl-color-white: #1c1c1e;
	--sl-color-gray-1: #2c2c2e;
	--sl-color-gray-2: #3a3a3c;
	--sl-color-gray-3: #636366;
	--sl-color-gray-4: #8e8e93;
	--sl-color-gray-5: #c7c7cc;
	--sl-color-gray-6: #e5e5ea;
	--sl-color-gray-7: #f2f2f7;
	--sl-color-black: #ffffff;
}
.site-title img {
  width: 128px;
  height: auto;
  max-height: 48px;
}

@media (min-width: 50rem) {
  :root {
    --sl-nav-height: clamp(4rem, 5vw, 5rem);
  }

  .site-title img {
    width: clamp(10rem, 13vw, 14rem);
    max-height: calc(var(--sl-nav-height) - 1rem);
  }
}

@media (min-width: 72rem) {
  :root {
    --sl-sidebar-width: 16rem;
    --sl-content-width: 52rem;
  }

  site-search button[data-open-modal] {
    max-width: 42rem;
  }
}
