---
const data = Astro.locals.starlightRoute.entry.data;
const title = String(data.displayTitle || data.title || '').trim();
---

<header class="event-page-title">
  <h1 id="_top">{title}</h1>
</header>

<style>
  @layer starlight.core {
    .event-page-title {
      margin-top: 1rem;
    }

    .event-page-title h1 {
      margin: 0;
      font-size: clamp(2.4rem, 5vw, var(--sl-text-h1));
      line-height: var(--sl-line-height-headings);
      font-weight: 600;
      color: var(--sl-color-white);
    }

  }
</style>
